html{
  margin-right: 0;
  font-family: 'Montez', cursive;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 320px;
}

.headerPart{
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background-color: aquamarine;
}

.Navigosha a{
  text-decoration: none;
  font-size: 2rem;


}

.Navigosha li{
  list-style-type: none;

}

.Test{
 width: 500px;
  height: 400px;
  margin-top: 30px;
  display: flex;
  margin: 0 auto;
  background-color: aqua;
  box-sizing: border-box;
  border: 3px black dashed;
  border-radius: 25%;
  box-shadow: inset 0 0 10px #000000;

}

.MainContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    background-color: lightskyblue;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .leftSide, .rightSide {
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    margin: 25px;
    background-color: rgb(233, 233, 17);
    border-radius: 15%;
    border: dashed 3px darkorange;
    box-shadow: inset 0 0 10px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
     .leftSide img, .rightSide img {
       width: 170px;
     }